auto lo
auto wlan0
auto ap0
iface lo inet loopback

allow-hotplug ap0
iface ap0 inet static
  address 192.168.10.1
  netmask 255.255.255.0
  hostapd /etc/hostapd.conf

allow-hotplug ap0
iface wlan0 inet dhcp
  udhcpc_opts -t 10
  wireless_mode managed
  wireless_essid %s
  pre-up wpa_supplicant -B -D wext -i wlan0 -c /etc/wpa_supplicant.conf
  post-down killall -q wpa_supplicant

