auto lo
auto ap0
auto wlan0
iface lo inet loopback

allow-hotplug ap0
iface ap0 inet static
  address 172.16.0.1
  netmask 255.255.255.0
  hostapd /etc/hostapd.conf

allow-hotplug wlan0
iface wlan0 inet dhcp
  udhcpc_opts -t 10
  wireless_mode managed
  wireless_essid %s
  pre-up wpa_supplicant -B -D nl80211 -i wlan0 -c /etc/wpa_supplicant.conf
  post-down killall -q wpa_supplicant

