name: Build supported images

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  buildroot-version: 2024.08

jobs:
  build-supported-images:

    runs-on: ubuntu-latest
    
    strategy:
        matrix:
            config: [raspberrypi3, raspberrypi0w]

    steps:
        
    - uses: actions/checkout@v4
            
    - name: Setup Buildroot ccache
      uses: actions/cache@v3
      with:
        path: ~/.buildroot-ccache
        key: buildroot-${{ matrix.config }}-ccache
    
    - name: Setup Buildroot downloads cache
      uses: actions/cache@v4
      with:
        path: ~/.buildroot-dl
        key: buildroot-dl
        
    - name: Prepare environment
      run: |
        wget https://buildroot.org/downloads/buildroot-${{ env.buildroot-version }}.tar.gz
        tar xzf buildroot-${{ env.buildroot-version }}.tar.gz
        sudo apt-get update
        sudo apt-get install graphviz python3-matplotlib
        
    - name: Build Images
      run: |
        cd buildroot-${{ env.buildroot-version }}
        export BR2_DL_DIR=~/.buildroot-dl
        make BR2_EXTERNAL=../ tonio_${{ matrix.config }}_defconfig
        make
    
    - name: Upload Images
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config }} images
        path: |
            buildroot-${{ env.buildroot-version }}/output/images
            board/${{ matrix.config }}/flash.sh
                
    - name: Build Graphs
      run: |
        cd buildroot-${{ env.buildroot-version }}
        make graph-size
        make graph-depends
        make graph-build

    - name: Upload Graphs
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config }} graphs
        path: 'buildroot-${{ env.buildroot-version }}/output/graphs'

