name: Tonio build and test

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -y update
          sudo apt-get -y install libvlc-dev libasound2-dev libconfuse-dev libgpiod-dev libmicrohttpd-dev libiw-dev check build-essential
      - uses: actions/checkout@v3
      - name: Configure
        run: |
          cd package/tonio/tonio-1.0
          autoreconf -vis
          ./configure --prefix=
      - name: Build
        run: |
          cd package/tonio/tonio-1.0
          make
      - name: Install to ~/tmp and Inspect
        run: |
          cd package/tonio/tonio-1.0
          DESTDIR=~/tmp make install-strip
          tree ~/tmp
      - name: Run Unit Tests
        run: |
          cd package/tonio/tonio-1.0
          make check || (cat tests/test-suite.log; true)
      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        with:
          name: tonio-test
          path: package/tonio/tonio-1.0/tests/*

        