name: Tonio CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prepare
      run: |
        wget https://buildroot.org/downloads/buildroot-2020.02.3.tar.gz
        tar xzf buildroot-2020.02.3.tar.gz
    - name: Build RPi 3
      run: |
        cd buildroot-2020.02.3
        make BR2_EXTERNAL=../ tonio_pi3_defconfig
        make
    - name: Cache ccache folder
      uses: actions/cache@v2
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache
    - uses: actions/upload-artifact@v2
      with:
        name: Upload Images
        path: buildroot-2020.02.3/output/images/*
